.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.UserMdp
{
  display:flex ;
  flex-direction: column;
}
.login
{
  width: 25%;
  justify-content: center;
  margin: auto;
  align-items: middle;  
  display:flex ;
  flex-direction: column;
}
.Boutton
{
  margin: auto;
  align-items: middle;  
  display:flex ;
}
.Split {
  display: contents;
  align-content: middle;
}
.imageEntre {
  height: 1000px;
  width: 580px;
}
.transit {
  transition: all 0.75s ease;
  transform: scale(1.045);
}
.fullScreen {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  background-image: url(./missfrance.jpg);
  background-size: cover;
}
.containerbis {
  height: 967px;
  width: 100%;
  background-image: url(./img_miss/miss.gif);
  background-size: cover;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
