.map{
    width: 100%;
}
.map__image {
    width: 35%;
    float: right;
}
.carte{
    cursor: pointer;
  }
.domTom {
    display: flex;
    flex-direction: row;;
    float: right;
}
.map__image path{
    fill: #a4ced2;
    stroke: antiquewhite;
    stroke-width: 2px;
}

.map__image path:hover{
    fill: #32a88f;
    stroke: antiquewhite;
    stroke-width: 2px;
    transition:  fill 0.3s;
}

.map__list{
    height: 100%;
    width: 60%;
    box-sizing: content-box;
    color: black;
    float: left;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.miss__list{
    width: 45%;
    margin: auto;
}
.infoMiss{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-weight: 700;
}
.note{
margin: auto;
  align-items: center;
  justify-content: center;
}
.box{
    margin: auto;
    margin-top: -20px;
}
.split{
    display: flex;
}
.typo{
    font-size:20px;
    text-align: left;
}
.titre{
    font-family:"URW Chancery L";
    font-size: 50px;
    text-align: center;
    font-style: italic;
    color : #151185;
    font-weight: bold ;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.buttonSave {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d5e0a3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-right: 10px;
    width: 45%;
    align-items: center;
  }
  
  .buttonSave:hover {background-color: #61ee6d}
  
  .buttonSave:active {
    background-color: #cbdf73;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .buttonFinsh {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d5e0a3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 25px;
    width: 45%;
    align-items: center;
  }
  
  .buttonFinsh:hover {background-color: #e64040}
  
  .buttonFinsh:active {
    background-color: #cbdf73;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }  
.rating {
    direction: rtl;
    text-align: center;
 }
 .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: orange;
    color-adjust: orange;
    cursor: pointer;
 }

 .Critere{
     margin-top: 10px;
    font-family:"cursive";
    font-size: 28px;
    font-style: italic;
  }